<nav class="page-nav">
  <button
    *ngFor="let pageIndex of pages()"
    type="button"
    class="page-nav__item"
    [class.is-active]="pageIndex === currentPageIndex"
    [class.is-draft]="isDraft(pageIndex)"
    [class.is-edited]="isEdited(pageIndex)"
    (click)="pageSelected.emit(pageIndex)">
    <span>{{ pageIndex + 1 }}</span>
    <span class="page-nav__dot" [class]="confidenceClass(pageIndex)"></span>
    <span class="page-nav__badge" *ngIf="editCountMap[pageIndex]">{{ editCountMap[pageIndex] }}</span>
  </button>
</nav>
